<div class="container my-5">
  <div class="w-50 mx-auto">
    <h1>Ricerca paziente</h1>

  </div>
</div>

<div class="container my-5 w-50">
  <p>Cerca il paziente inserendo il suo codice fiscale</p>
  <%= simple_form_for :search, url: search_patients_path, method: :get, remote: true do |f| %>
    <%= f.input :query, label: 'Cerca usando il codice fiscale' %>
    <div class="fluid-container">
      <%= f.submit 'Cerca', class: 'btn btn-primary px-5' %>
      <%= link_to 'Nuovo paziente', new_patient_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>

<div class="container my-5 w-75" id="search-results"></div>
