<div class="container my-5">
  <div class="card mb-3 shadow">
    <div class="row no-gutters">
      <div class="col-md-5">
        <%= image_tag 'splash.jpg', class: 'card-img' %>
      </div>
      <div class="col-md-7 align-self-center px-5">
        <div class="card-body">
          <h1 class="card-title">ATS Expert</h1>
          <p class="card-text mt-4">Benvenuti su ATS Expert: il software progettato per migliorare la gestione della Continuità Assistenziale<br />Per procedere: eseguite l'accesso o la registrazione sulla piattaforma</p>
          <%= link_to 'Accedi', new_user_session_path, class: 'btn btn-lg btn-primary mt-4 px-5' %>
        </div>
      </div>
    </div>
  </div>
</div>
